<title>Aayush Khatiwada</title>
        <meta charset="UTF-8">
        <meta name="description" content="Hello! I am Aayush Khatiwada. Learn more about me in this website.">
        <meta name="keywords" content="Aayush, aayush, Khatiwada, khatiwada, Aayush Khatiwada, aayush khatiwada">
        <meta name="author" content="Aayush Khatiwada">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- logo -->
        <link rel="icon" href="/images/title-logo.png">

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


        <!-- Icons -->
        <link rel="stylesheet" href="/icons/css/all.min.css">

        <!-- User CSS -->
        <link rel="stylesheet" href="/css/style.css">
        