<nav>
    <div class="menu-container">
        <div class="menu-logo">
            <img src="/images/logo.png" alt="Aayush Khatiwada">
        </div>
        <hr class="menu-line">
        <div class="menu-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Projects</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>