<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header')  %>
</head>

    <body>

        <%- include('./partials/nav')  %>

        <div class="webpage">
            <div class="webpage-container">
                <section class="home">
                    <div class="name">
                        <h1>HI I'M <span class="hero">Aayush</span></h1>
                        <h4>Student, Web Developer</h4>
                    </div>
                    <div class="photo">
                        <img src="/images/WorkingonLaptop.png" alt="Working on Laptop">
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>