<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header')  %>
</head>

    <body oncontextmenu="false">

        <%- include('./partials/nav')  %>

        <div class="webpage">
            <div class="webpage-container">
                <section class="home">
                    <div class="name">
                        <h1>Hi I'm <span class="hero">Aayush</span></h1>
                        <h4>Student, Web Developer</h4>
                    </div>
                    <div class="photo"  oncontextmenu="false">
                        <img src="/images/WorkingonLaptop.png" alt="Working on Laptop">
                    </div>
                </section>

                <section class="about">
                    <div class="about-text">
                        <div class="about-text-container">
                            <h1>ABOUT ME</h1>
                            <p>As a recent high school graduate, I am eager to begin my programming career and pursue new chances. I am a computer science and programming enthusiast who has accomplished various solo and collaborative projects. I dedicate myself to my projects and take pleasure in it.</p>
    
                            <p>I think that hard effort and devotion are vital for success, and I am ready to learn and progress with each experience. From little initiatives to creative collaborations, I am continuously on the lookout for new methods to expand my knowledge and grow my talents. I am optimistic about what's to come and motivated to make a difference.</p>
                        </div>
                        </div>
                    <div class="about-image">
                        <img src="/images/About-photo.png" alt="Aayush Khatiwada">
                    </div>
                </section>

            </div>
        </div>
    </body>
</html>