*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #1e2029;
    --secondary-color: #735ade;
    --theme-font: 'Atkinson Hyperlegible', sans-serif;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 100vw;
}

body, html {
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--theme-font);
    scrollbar-width: 0.5vw;
    scrollbar-color: var(--primary-color);
    overflow-y: visible;
    scroll-behavior: smooth;
    user-select: none;
}

.menu-container {
    margin: 0 18vw;
}

.menu-logo {
    display: grid;
    justify-content: center;
    margin-block: 1vw 0.7vw;
}

.menu-logo img {
    height: 3.7vw;
}

.menu-line {
    border: none;
    background: #fff;
    height: 2px;
    width: 65vw;
}

.menu-links {
    margin-block: 1vw 1vw;
}

.menu-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-links ul li {
    padding-inline: 1vw;
}

.menu-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3vw;
    transition: 0.3s;
}

.menu-links ul li a:hover {
    color: var(--secondary-color);
}

.webpage-container {
    margin-inline: 18vw;
}

.home {
    margin: 8vw 0 7vw 0;
}

.home .name {
    display: grid;
    justify-content: center;
}

.home .name h1 {
    font-size: 3.5vw;
    font-weight: 400;
}

.hero {
    color: var(--secondary-color);
    font-weight: 600;
}

.home .name h4 {
    font-weight: 200;
    font-size: 1.5vw;
    text-align: center;
}

.home .photo {
    margin-block: 3vw;
}

.home .photo img {
    width: 63vw;
    height: 45vw;
    border-radius: 15px;
}

.about {
    display: flex;
}

.about-text {
    align-content: center;
    display: grid;
}

.about-text .about-text-container {
    background: var(--secondary-color);
    padding: 1vw 4vw;
    position: relative;
    z-index: 2;
    left: 2vw;
    box-shadow: 4px 4px 30px 1px #1e1e1e;
    border-radius: 5px;
}

.about-text .about-text-container h1 {
    margin-block: 1vw -0.5vw;
    font-weight: 400;
    font-size: 2.5vw;
    width: 20vw;
}

.about-text .about-text-container p {
    font-size: 1.3vw;
    margin-block: 1.5vw 1.7vw;
    font-weight: 100;
}

.about-text .about-text-container a {
    text-decoration: none;
    color: #000;
    background-color: #FFF;
    padding: 0.7vw 2vw;
    margin-block: 2vw;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    top: -0.7vw;
    font-size: 1vw;
}

.about-text .about-text-container a:hover {
    background-color: rgba(245, 222, 179, 0.822);
}

.about-image img {
    height: 50vw;
    margin-block: 1vw;
}